* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.viewport {
  width: 100vw;
  height: 1000vh;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  position: relative;
}

.page-view {
  width: 100vw;
  height: 100vh;
}

.page-view .page-content {
  color: #ffffff;
  width: 100vw;
  height: 100vh;
  padding: 0 25vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  position: relative;
  flex-direction: column;
  background-color: darkgrey;
}

.home .word {
  margin: 3vh 0;
}

.home .love {
  position: absolute;
  bottom: 1vh;
}

.home .down {
  position: absolute;
  bottom: 8vh;
  transform: rotate(180deg);
}

.chocolate {
  background-color: chocolate;
}

.cadetblue {
  background-color: cadetblue;
}

.mediumseagreen {
  background-color: mediumseagreen;
}

.darkturquoise {
  background-color: darkturquoise;
}

.lightpink {
  background-color: lightpink;
}

.burlywood {
  background-color: burlywood;
}

.mediumslateblue {
  background-color: mediumslateblue;
}

.darkseagreen {
  background-color: darkseagreen;
}

.lightcoral {
  background-color: lightcoral;
}
