* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.viewport {
  width: 100vw;
  height: 900vh;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  position: relative;
}

.page-view {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.page-view .page-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
